<div class="prizes-breakdown">
  <div class="prize-item prize-item-cash">
    <%= challenge.prize_cash %> Prize Money
  </div>
  <div class="prize-item prize-item-travel">
    <%= challenge.prize_travel %> Travel Grants
  </div>
  <div class="prize-item prize-item-academic">
    <%= challenge.prize_academic %> Academic Papers
  </div>
  <div class="prize-item prize-item-misc">
    Misc Prizes :
    <%= challenge.prize_misc %>
  </div>
</div>
